In [2]:
import pandas as pd
pd.read_json('train.json') # can use url too inplaace of the file

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [3]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     - -------------------------------------- 0.5/11.9 MB 4.2 MB/s eta 0:00:03
     --- ------------------------------------ 1.0/11.9 MB 3.6 MB/s eta 0:00:04
     ------ --------------------------------- 1.8/11.9 MB 3.5 MB/s eta 0:00:03
     -------- ------------------------------- 2.6/11.9 MB 3.5 MB/s eta 0:00:03
     ----------- ---------------------------- 3.4/11.9 MB 3.5 MB/s eta 0:00:03
     -------------- ------------------------- 4.2/11.9 MB 3.6 MB/s eta 0:00:03
     ----------------- ---------------------- 5.2/11.9 MB 3.8 MB/s eta 0:00:02
     --------------------- ------------------ 6.3/11.9 MB 3.9 MB/s eta 0:00:02
     ------------------------ --------------- 7.3/11.9 MB 4.1 MB/s eta 0:00:02
     ---------------------------- ----------- 8.4/11.9 MB 4.2 MB/s eta 0:00:01
     ------------------------------- -------- 9.4/11.9 MB 4.3 MB/s eta 0:00:01
     ------------------------------------ --- 10.7/11.9 MB 4.4 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247959 sha256=e02d833700b6385b21e0bf91201c4582db9b55e5305f0922a7196979b35b17d3
  Stored in directory: c:\users\anshu\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [4]:
import mysql.connector

In [11]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password='',
    database="world",
    port=3307   # ðŸ‘ˆ add this line
)

In [12]:
pd.read_sql_query("SELECT * from city", conn)

C:\Users\anshu\AppData\Local\Temp\ipykernel_19124\2836035638.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * from city", conn)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]