In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("Social_Network_Ads.csv")

In [5]:
df.sample(5)

      User ID  Gender  Age  EstimatedSalary  Purchased
212  15707596  Female   59            42000          0
27   15633531  Female   47            30000          1
308  15596761    Male   36           125000          1
347  15768151  Female   54           108000          1
299  15747043    Male   46           117000          1

In [6]:
df = df.iloc[:,2:]

In [8]:
df.head(5)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [9]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train ,