In [1]:
import pandas as pd

In [39]:
import numpy as np

In [2]:
df = pd.read_csv('cars.csv')

In [3]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [6]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [8]:
df['brand'].nunique() # 32 different brands we have

32

In [10]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [11]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

<h2>
    One hot encoding using pandas
</h2>

In [18]:
pd.get_dummies(df , columns =['fuel' , 'owner'] ) # but in ML project we don't use pandas beacuse vo order yaad nhi rakhta ,
# means dubara run krenge to kuch aur bhi de skta hai , not fixed thing

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

<h2>
    K-1 
</h2>

In [15]:
pd.get_dummies(df , columns =['fuel' , 'owner'] , drop_first= True )

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

<h2>
    Using sklearn
</h2>

In [24]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(df.iloc[:,0:4] , df.iloc[: , -1], test_size=0.2, random_state = 0)

In [25]:
X_train.head()

         brand  km_driven    fuel         owner
3042   Hyundai      60000     LPG   First Owner
1520      Tata     150000  Diesel   Third Owner
2611   Hyundai     110000  Diesel  Second Owner
3544  Mahindra      28000  Diesel  Second Owner
4138    Maruti      15000  Petrol   First Owner

In [26]:
X_test.head()

         brand  km_driven    fuel        owner
3558   Hyundai      40000  Diesel  First Owner
233   Mahindra      70000  Diesel  First Owner
7952    Maruti       5000  Petrol  First Owner
572     Maruti     120000  Petrol  Third Owner
6960     Lexus      20000  Petrol  First Owner

In [27]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

# a bit hard beacuse we have to seperate the fuel and owner columns from the dataframe
# and then apply this one hot encoder and then rejoin the encoded columns to the original dataframe 

# we will learn column transformer in upcoming lecture so we can apply different encoding , ek sath without seperating the columns from the dataframe

In [30]:
ohe.fit_transform(X_train[['fuel','owner']])

<6502x9 sparse matrix of type '<class 'numpy.float64'>'
	with 13004 stored elements in Compressed Sparse Row format>

In [34]:
X_train_new= ohe.fit_transform(X_train[['fuel','owner']]).toarray()

In [36]:
X_test_new = ohe.fit_transform(X_test[['fuel','owner']]).toarray()

In [37]:
X_train_new

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [46]:
X_train_new.shape

(6502, 9)

In [38]:
X_train[['brand','km_driven']].values

array([['Hyundai', 60000],
       ['Tata', 150000],
       ['Hyundai', 110000],
       ...,
       ['Hyundai', 90000],
       ['Volkswagen', 90000],
       ['Hyundai', 110000]], dtype=object)

In [42]:
np.hstack((X_train[['brand','km_driven']].values , X_train_new))

array([['Hyundai', 60000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Tata', 150000, 0.0, ..., 0.0, 0.0, 1.0],
       ['Hyundai', 110000, 0.0, ..., 1.0, 0.0, 0.0],
       ...,
       ['Hyundai', 90000, 0.0, ..., 1.0, 0.0, 0.0],
       ['Volkswagen', 90000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Hyundai', 110000, 0.0, ..., 0.0, 0.0, 0.0]], dtype=object)

In [43]:
np.hstack((X_train[['brand','km_driven']].values , X_train_new)).shape

(6502, 11)

In [45]:
# we can remove first column using this code 
ohe_1= OneHotEncoder(drop = 'first')

In [47]:
ohe_1.fit_transform(X_train[['fuel','owner']])
X_train_new_1= ohe_1.fit_transform(X_train[['fuel','owner']]).toarray()
X_test_new_1 = ohe_1.fit_transform(X_test[['fuel','owner']]).toarray()
X_train_new_1.shape

(6502, 7)

In [48]:
np.hstack((X_train[['brand','km_driven']].values , X_train_new_1)).shape

(6502, 9)

In [53]:
 # ohe_1= OneHotEncoder(drop = 'first') 
# by default it gives us sparse matrix , if we use sparse_output = False then we don't have to use .toarray in our code
# like this X_train_new_1= ohe_1.fit_transform(X_train[['fuel','owner']]).toarray()
ohe_2 = OneHotEncoder(drop = 'first', sparse_output = False)
# also we can control the dtype of the new columns made like :
ohe_3 = OneHotEncoder(drop = 'first', sparse_output = False ,dtype =np.int32)

<h2>
    One hot with top categories
</h2>

In [61]:
count = df['brand'].value_counts()

In [73]:
count.info()

<class 'pandas.core.series.Series'>
Index: 32 entries, Maruti to Peugeot
Series name: count
Non-Null Count  Dtype
--------------  -----
32 non-null     int64
dtypes: int64(1)
memory usage: 1.5+ KB

In [65]:
df['brand'].nunique()

32

In [66]:
threshold = 100

In [68]:
repl = count[count<=threshold].index

In [69]:
repl

Index(['Nissan', 'Jaguar', 'Volvo', 'Datsun', 'Mercedes-Benz', 'Fiat', 'Audi',
       'Lexus', 'Jeep', 'Mitsubishi', 'Force', 'Land', 'Isuzu', 'Kia',
       'Ambassador', 'Daewoo', 'MG', 'Ashok', 'Opel', 'Peugeot'],
      dtype='object', name='brand')

In [77]:
pd.get_dummies(df['brand'].replace(repl,'uncommon')).sample(5)

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
1625,False,False,False,False,False,False,False,False,False,False,False,False,True
2884,False,False,False,False,True,False,False,False,False,False,False,False,False
7042,False,False,False,False,False,False,False,False,False,False,True,False,False
3624,False,False,False,False,True,False,False,False,False,False,False,False,False
5924,False,False,False,False,False,True,False,False,False,False,False,False,False